<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base::header" >
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>已经发布的流程</title>
</head>

<body>
	<div id="main">
		<div class="panel panel-info">
			<div class="panel-heading text-center">
		        <h2>已经发布的流程</h2>
		    </div>
		    <div class="panel-body text-center">
				<form class="form-inline" role="form" th:action="@{/processdefinition/deploy}" method="post" 
					enctype="multipart/form-data">
		    		<div class="form-group">
				    	<label class="sr-only" for="inputfile">bpmn或者zip文件</label>
				    	<input id="inputfile" name="file" type="file" value="bpmn或者zip文件"/>
				  	</div>
				  	<button  class="btn btn-default">发布</button>
				</form>
		    </div>
		</div>
		<div id="left_div" class="panel panel-default">
			<div class="panel-body ">
				<table class="table table-bordered table-hover text-center">
					<caption class="panel-title text-center">已发布的流程</caption>
					<thead>
						<tr>
							<th class="text-center">ID</th>
							<th class="text-center">流程的key</th>
							<th class="text-center">流程的name</th>
							<th class="text-center">流程图查看</th>
							<th class="text-center">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="flow:${flows}">
							<td><a target="processDefinition_window"
							    th:href="@{'/processinstance/querylist' + ${flow.id}}" th:text="${flow.id}">ID</a></td>
							<td th:text="${flow.key}">流程的key</td>
							<td th:text="${flow.name}">流程的name</td>
							<td>
								<button class="btn btn-default" th:onclick="'javascript:showbiggerFlow(\''+ ${flow.id}+'\',false)'">查看</button>
								<button class="btn btn-default" th:onclick="'javascript:showbiggerFlow(\''+ ${flow.id}+'\',true)'">查看</button>
							</td>
							<td>
								<button class="btn btn-default" th:onclick="'javascript:startprocessDefinition(\''+ ${flow.id}+'\')'">启动</button>
								<button class="btn btn-default" th:onclick="'javascript:deleteprocessDefinition(\''+ ${flow.id}+'\')'">删除</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>	
		</div>
		<div id="right_div" class="panel panel-default">
			<div class="panel-body ">
				<table id="paramtable" class="table table-bordered table-hover text-center">
					<caption class="panel-title text-center">启动参数</caption>
					<thead>
						<tr id="row_0">
							<th class="text-center">key</th>
							<th class="text-center">value</th>
							<th class="text-center">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr id="row_1">
							<td><input type="text" class="form-control" placeholder="输入参数名" name="key"/></td>
							<td><input type="text" class="form-control" placeholder="输入参数值" name="value"/></td>
							<td>
								<button class="btn btn-default" onclick="addRow()">添加</button>
								<button class="btn btn-default" onclick="delRow()">删除</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- 模态框（Modal） -->
	<div id="biggerimg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div id="modelimg" onclick="hidebiggerFlow()" class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title" id="myModalLabel">流程图</h4>
	            </div>
	            <div class="modal-body" >
	            	<iframe id="flowimg" frameborder="0" width="99%" height="600px" src=""/>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#biggerimg">关闭</button>
	            </div>
	        </div>
	    </div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
    var basePath=getContextPath();

    // 获取根路径
    function getContextPath() {
        var pathName = document.location.pathname;
        var index = pathName.substr(1).indexOf("/");
        var result = pathName.substr(0,index+1);
        return result;
    }
</script>
<script type="text/javascript" th:src="@{/templates/js/myfunction.js}"></script>
</html>
